<div class="bg-dark ">
    <div class="btn-group btn-block  px-lg-5 mt-3 ">
        <a href="#" class=" font-weight-bold border border-left-0 border-bottom-0 border-top-0 pt-2" style=" color:white; font-size:40px;  background-color:#ca1016;padding-left:50px;padding-right:50px; height:80px;">TURBO.AZ</a>
        <a href="#" class="btn btn-secondary btn-lg font-weight-bold border border-bottom-0 border-top-0 pt-2" style="color: white; font-size: 40px; background-color: #616161; height: 80px; padding-left: 50px; padding-right: 50px; height: 80px;">BINA.AZ</a>
        <a href="#" class="btn btn-secondary btn-lg font-weight-bold border border-bottom-0 border-top-0 pt-2" style="color: white; font-size: 40px; background-color: #616161; height: 80px; padding-left: 50px; padding-right: 50px; height: 80px;">TAP.AZ</a>
        <a href="#" class=" font-weight-bold border border-bottom-0 border-top-0 border-right-0 pt-2" style="color:white;font-size:40px; background-color:#616161;padding-left:50px;padding-right:50px; height: 80px;">BOSS.AZ</a>
    </div>
</div>